{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- <link href="{% static 'css/style5.css' %}" rel="stylesheet"> -->
    <title>Document</title>
    <style>
        .hh{
            /* border: 2px solid; */
            width: 250px;
            text-align: center;
            box-shadow: 2px 1px 10px 1px;
            border-radius: 25px;
        }
    </style>
</head>

<body>

        <div class="container">
            <h1 style="text-align:center; color: red; margin-top: 4px; "> Services</h1>
           
                <p >
                    Meddco Ambulance is becoming India’s largest ambulance aggregator of ambulance and emergency medical services providers. Emergency medical service (EMS) also known as ambulance services provide urgent medical care on the scene. To respond to different types of medical emergencies various types of ambulances are designed which are provided with special medical equipment and medical professionals who can deal with medical emergencies. Meddco ambulance assistance app can help choose the best kind of ambulances from basic ambulances to air ambulance they have simple 
                    to the most advanced type of modern ambulances to select and transport patients and act as the First responder.
                    We offer following ambulance services via Meddco Ambulance Assistance App:
                </p>
                
                <div class="container-fluid">
                    <h4 style="text-align:center; color: black; margin-top: 4px; "> Basic Ambulance</h4>
                    <div class="row ">
                <div class="col-sm-8 my-4">
               <p  >These types of ambulances are the basic ambulances that we commonly see in our daily lives. 
                Basic ambulances are handled by an emergency medical technician (EMT) and transport patients who require basic medical supervision under 
                minor or uncritical situations such as mild fractures, and sub-acute care facilities (nursing homes). 
                It comprises of the patient bed, pulse oximetry and oxygen delivery devices.</p>
                    
                </div>
                <div class="col-sm-4">
                    <img src="{% static 'images/ff.png' %}" alt="My image" class="img-fluid hh" >
                </div>
            </div>
        </div>
  
    <div class="container">
        <h4 style="text-align:center; color: black; margin-top: 4px; "> Advance Ambulance</h4>
        <div class="row">
            <div class="col-sm-8 my-4">
                <p>
                    Advance ambulances are equipped with advanced equipment and tools to handle critically ill patients. They are also equipped with an ECG monitor, defibrillator, intravenous and blood drawing tools, etc.
                     Patients who require a high level of care and who are fighting for life need services 
                    like hospital emergency department or critical care unit need advance ambulance services. Patients suffering from 
                    serious life-threatening causalities and cardiac emergencies are transported with advanced life support ambulances.
                </p>
            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/jj.png' %}" alt="My image" class="img-fluid hh" >
            </div>
        </div>
    </div>
    <div class="contanier">
        <h4 style="text-align:center; color: black; margin-top: 4px; "> Mortuary Ambulance</h4>
        <div class="row my-4">
            <div class="col-sm-4 ">
                <img src="{% static 'images/bb.png' %}" alt="My image" class="img-fluid hh" >
            </div>
       
        <div class="col-sm-8 ">
            <p>
                A mortuary ambulance is used for transportation of the dead body from any place. It is also called as Hearse Van. 
                Mortuary vans carry the body of the dead person in a freezer box. Medically trained staff make sure that all the 
                necessary provisions are taken while transporting the physical remains of a person. They maintain the safety guidelines 
                before transporting the dead person to the desired place and preserving the body until they receive their last rites.
            </p>
        </div>
    </div>
    </div>
    <div class="contanier">
        <h4 style="text-align:center; color: black; margin-top: 4px; "> Neonatal Ambulance</h4>
        <div class="row">
            <div class="col-sm-8 my-4">
                <p>
                    Neonatal ambulance services aimed at reducing neonatal mortality rates. Neonatal ambulances 
                    transport premature and sick babies to specialized care hospitals which can provide the
                     right kind of treatment and care to infants. They are equipped with incubators for new-borns or premature babies.
                </p>
            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/mm.png' %}" alt="My image" class="img-fluid hh" >
            </div>
        </div>
    </div>
    <div class="container">
        <h4 style="text-align:center; color: black; margin-top: 4px; "> Patient Transport Vehicle</h4>
        <div class="row my-4">
            <div class="col-sm-4">
                <img src="{% static 'images/nk.png' %}" alt="My image" class="img-fluid hh" >
            </div>
            <div class="col-sm-8 my-3">
                <p>
                    During non-emergency situations, Medical transport vehicle transfers patients to and from hospitals. A patient who 
                    requires to be transferred to a facility that can give a higher or more specialized level of care or used to 
                    transfer patients from a specialized facility to a hospital when they no longer require this specialized care.
                </p>
            </div>
        </div>
        <div class="container">
            <h4 style="text-align:center; color: black; margin-top: 4px; "> Air Ambulance</h4>
            <div class="row">
                <div class="col-sm-8">
                    <p>
                        Air ambulances use air transportation by airplane or helicopter to transport patients to and from healthcare facilities and accident scenes. Air ambulances transport patients to specialist care, they can also bring specialist care to the accident scene, especially for major trauma cases.
                         They are mainly used for international or long-distance transport. Air medical 
                        services provide fast and swift transport during emergencies. They can reach wide or hilly areas in less time, 
                        they are more accessible than land ambulances. This makes them very efficient in sparsely populated rural regions.
                    </p>
                </div>
                <div class="col-sm-4">
                    <img src="{% static 'images/fm.png' %}" alt="My image" class="img-fluid hh" >
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>